<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="vvvv package source" value="http://teamcity.vvvv.org/guestAuth/app/nuget/v1/FeedService.svc/" />
    <add key="NuGet.Build.Packaging" value="https://ci.appveyor.com/nuget/nugetizer3000" />
  </packageSources>
</configuration>
